/SonicSoft.Azure.Search.Query.Builder.Tests/obj
/SonicSoft.Azure.Search.Query.Builder.Tests/bin
/SonicSoft.Azure.Search.Query.Builder/.vs
/SonicSoft.Azure.Search.Query.Builder/SonicSoft.Azure.Search.Query.Builder/bin
/SonicSoft.Azure.Search.Query.Builder/SonicSoft.Azure.Search.Query.Builder/obj
/SonicSoft.Azure.Search.Query.Builder/SonicSoft.Azure.Search.Query.Builder.Tests/obj
/SonicSoft.Azure.Search.Query.Builder/SonicSoft.Azure.Search.Query.Builder.Tests/bin
/SonicSoft.Azure.Search.Query.Builder.Example.CreateQuery/obj
/SonicSoft.Azure.Search.Query.Builder.Example.CreateQuery/bin
/SonicSoft.Azure.Search.Query.Builder/bin
/SonicSoft.Azure.Search.Query.Builder/obj
